body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Navbar */
.navbar-toggler {
  background-color: rgb(230, 4, 211) !important;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 22px;
  color: #ff00aa !important;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #ff6cb5 !important;
}

.logo-home{
  width: 220px;
}

.activado {
  border-bottom: 2px solid #ff00aa;
  font-weight: bold;
}


/* Carousel */
.img-carousel{
  max-height: 70vh;
  object-fit: cover;
}

.overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(253, 107, 107, 0.5);
  color: rgb(251, 251, 251);
}
/* Fin de Carousel */



/* Redes */
.redes {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(248, 159, 174);
}
.redes-items a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.redes-items {
  transition-property: filter;
  transition-duration: 0.3s;
}
.redes-items:hover {
  transform: scale(1.25);
  opacity: 0.8;
}

.fa-instagram{
  font-size: 250%;
  color: white;
}
.fa-facebook-f{
  font-size: 250%;
  color: white;
}
.fa-twitter{
  font-size: 250%;
  color: white;
}
.fa-whatsapp{
  font-size: 250%;
  color: white;
}

/* Fin de redes */

/* Footer */
.footer-wrap {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: rgb(255, 245, 245);
}

.footer-items:hover {
  color: #6b0036;
  z-index: 2;
}
.footer-items{
  text-decoration: none;
  color: #ff0080;
  font-size: 95%;
}
/* Fin de footer */

/* Imagenes */
.img-fluid {
  border-radius: 10%;
}

/* Btn PAGINACION */
.btn-paginacion{
  background-color:#ff0080 !important;
  color: rgb(255, 255, 255) !important; 
  border-radius: 90px !important;
}
.btn-paginacion:hover{
  background-color: white !important;
  color: #ff0080 !important;
  border: 1px solid #ff0080 !important;
}
/* Fin Btn PAGINACION */

/* Admin */
.fa-user-plus{
  color: white;
}
.appTabla {
  background-color: #c845a1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* Admin */

/* Producto id */
.img-id{
  height: 30%;
  width: 85%;
  border-radius: 15%;
} 

.atajos-text {
  text-decoration: none !important;
  color: #292929 !important;
}

.atajos-text:hover {
  color: #ff0080!important;
}

.btn-volver {
  border: 1px solid #ff0080 !important;
  color: #ff0080 !important;
  text-decoration: none !important;
}

.btn-volver:hover {
  background-color: #ff0080;
  color: #ffffff !important;
}

.btn-compra {
  border:1px solid #ff0080 !important;
  color: #ff0080 !important;
  text-decoration: none !important;
}

.btn-compra:hover {
  background-color: #ff0080 !important;
  color: #ffffff !important;
}

/* BUSCADOR */
.busquedaL{
  z-index: 1;
  
  position: absolute;
  background-color: #f6f6f6;
  text-decoration: none;
  list-style:none;
  font-size: 15px;
 
  box-shadow: 1px 8px 16px 0px rgba(0,0,0,0.24);
-webkit-box-shadow: 1px 8px 16px 0px rgba(0,0,0,0.24);
-moz-box-shadow: 1px 8px 16px 0px rgba(0,0,0,0.24);
}

.busqueda-nombre{
  font-size: 100%;
  color: #ff00aa;
}

.btn-search{
  background-color: #ff00aa !important;
}
/* BUSCADOR */

/* Home */
/* .img-home{
  height: 24vh;
  width: 17vw;
} */

.img-home{
  height: 300px;
  width: 300px;
  border-radius: 10px;
}

.nombreP-home{
  text-decoration: none !important;
  color: #292929;
}

/* Home */

/* Carrito */
.title-cart{
  background-color: #ff0080;
  font-size: 20px;
}

.btn-cart-plus{
  background-color: #ff0080 !important;
  color: white;
}

.btn-cart-pedido{
  background-color: #ff0080 !important;
  color: white;
}

.btn-cart-pedido:hover{
 border:1px solid #ff0080 !important;
 color: #ff0080 !important;
}
/* Carrito */

